div[data-fieldname="item_code"] .indicator::before {
    background: none;
    content: "";
    height: 0;
    width: 0;
    border-radius: var(--border-radius);
    margin: 0;
}
.list-row-container .mx-2, .list-row-container .list-row-like{
    display: none !important;
}